.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    color: chocolate;

}

h1 {
    color: chocolate;
}

.working-on-it {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.me {
    color: rgb(27, 27, 87);
}

